body{
    
}
#banner{
    width: 100%;
}
.principal
 {
    background: #cccccc ;
    padding: 30px;
}
h1{
    text-align: center;
}
p {
}
    text-align: center;
em strong {
    color:aquamarine 
    text-align: center;
}
#missao{
    font-size:20px;
    .itens{
        font styleÇ:italic
    }
.beneficios {
    background: #ffffff;
    pading: 20px;
}
em strong{
    color:red
}
h2{
    text-align: center;
}
ul{
    display: inline blok;
    vertical-align: top;
    width:20%;
    margin-right: 15%;
}